/* Index */

body {
    margin: 0;
    padding: 0;
    background: url(../img/home-bg.jpg) no-repeat center top #000;
}
h1, h2 {
    margin: 0;
    padding: 0;
}

@media (max-width: 1120px) {
    body {
        background: url(../img/home-bg.jpg) no-repeat -400px top #000;
    }
}


/* Header */

.header-container {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    background-color: #000;
    border-top: 2px solid #c7f216;
    border-bottom: 1px solid #FFF;
    position: fixed;
    z-index: 10;
    top: 0;
}
.header-container .header-wrap {
    width: 100%;
    height:60px;
    margin: 0 auto;
}
.header-container .header-wrap .menu {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}
.header-container .header-wrap .menu li {
    float: left;
    border-right: 1px solid #FFF;
}
.header-container .header-wrap .menu li a {
    font-family: 'Black Ops One', 'Kanit';
    font-size:20px;
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    display: inline-block;
}
.header-container .header-wrap .menu li:hover a {
    background: #c7f216;
    color: #333;
}
.header-container .header-wrap .menu li a:hover {
    color: #333;
}
.header-container .header-wrap .language {
    color: #FFF;
    font: normal 16px "Black Ops One";
    float: right;
    padding: 20px 30px;
}
.header-container .header-wrap .language a {
    color: #CCC;
    font: normal 16px "Black Ops One";
    text-decoration: none;
}
.header-container .header-wrap .language a:hover {
    color: #EFEFEF;
}

/* Content */

.main-container {
    position: relative;
    display: table;
    width: 100%;    
    margin-top: 60px;
}
.main-container .center-container {
    max-width: 1120px;
    min-width: 1120px;
    margin: 0 auto;
}
.main-container .center-container .intro {
    height: 680px;
    margin: 60px 0 40px 0;
    display: inline-block;
    position: relative;
}
.main-container .center-container .intro .intro-info-wrap {
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}
.main-container .center-container .intro .intro-info-wrap .text-first {
    font: normal 23px/23px "Black Ops One";
    padding: 10px 0 4px 0;
    margin: 0 auto;
    color: #FFF;
    width: 300px;
    background: #000;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.main-container .center-container .intro .intro-info-wrap .text-second {
    font: italic 18px "Black Ops One";
    margin: 15px 0 35px 0;
    letter-spacing: 4px;
}
.main-container .center-container .intro .intro-info-wrap  .text-third {
    font: lighter 20px "Helvetica";
    letter-spacing: 2px;
    margin: 25px 0 10px 0;
    color: #333;
}
.main-container .center-container .drop {
    text-align: center;
    display: block;
    margin: 40px;
}
.main-container .center-container .header-bmw {
    display: block;
    margin: 0 auto 740px;
    font-family: 'Black Ops One', 'Kanit';
    text-align: center;
    width: 870px;
}
.main-container .center-container .header-bmw.eng {
    display: block;
    margin: 0 auto 740px;
    font-family: 'Black Ops One', 'Kanit';
    text-align: center;
    width: 980px;
}
.main-container .center-container .header-gift {
    margin-bottom: 40px;
    color: #FFF;
    text-align: center;
    font-family: 'Black Ops One', 'Kanit';
}
.main-container .center-container .header-gift h1 {
    font-size: 40px;
    font-weight: normal;
 }
 .main-container .center-container .header-gift h2 {
    font-weight: normal;
 }
.main-container .center-container .step {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 24px 0;
}
.main-container .center-container .step .free-box {
    float: left;
    text-align: center;
    width: 33%;
    font-family: 'Black Ops One', 'Kanit';
    color: #FFF;
}
.free-box h1 {
    font-size: 90px;
    line-height: 0.5;
    font-weight: normal;
    text-transform: uppercase;
    color: #c7f216;
}
.free-box h2 {
    font-size: 40px;
    margin: 15px 0;
    font-weight: normal;
}
.free-box img {
    margin: 10px 0;
}
.free-box h3 {
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: normal;
    font-family: "Kanit";
}
.header-whey {
    margin: 22px 0 20px 0;
    color: #FFF;
    text-align: center;
    font-family: 'Black Ops One', 'Kanit';
}
.header-whey h1 {
    font-size: 75px;
    line-height: 70px;
    color: #FFF;
}
.header-whey h2 {
    font-weight: normal;
}
.whey-product {
    text-align: center;
    margin: 60px 0 30px;
}
.baam-team-wrap {
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
    text-align: left;
    font-family: 'Black Ops One', 'Kanit';
}
.baam-team-wrap .name-block {
    text-transform: uppercase;
    float: left;
    color: #FFF;
}
.baam-team-wrap .name-block h3 {
    font-size: 26px;
    font-weight: normal;
    margin: 0;
}
.baam-team-wrap .name-block h4 {
    margin: 0;
    font-weight: normal;
}
.button-wrap {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 1100px;
}
.button-wrap .register-btn {
    padding: 24px 34px;
    background: #C6F12A;
    color: #333;
    font-size: 35px;
    display: inline-block;
    line-height: 29px;
    text-transform: uppercase;
    font-family: 'Black Ops One', 'Kanit';
    text-decoration: none;
    margin: 40px 10px 39px;
}
.button-wrap .register-btn:hover {
    background: #FFF;
}
.footer-container {
    border-top: 1px solid #FFF;
    background: #000;
    width: 100%;
    min-width: 1120px;
    display: inline-block;
    color: #FFF;
    font-family:'Kanit';
    text-align: center;
    padding: 20px 0;
    font-weight: normal;
}

/* Register */

.main-container.regist {
    width: 100%;
    background: url(../img/athlete-top-bg.jpg) no-repeat center top;
}
.main-container .center-container .regist-header {
    margin: 155px 0 10px 0;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Black Ops One', 'Kanit';
    text-align: center;
}
.main-container .center-container .registration-wrap {
    width: 100%;
    max-width: 960px;
    height: 520px;
    background: #000;
    margin: 10px auto 230px;
    display: block;
    background: url(../img/register-box.jpg) no-repeat center top #000;
}
.main-container .center-container .registration-wrap .form-wrap {
    display: inline-block;
    margin: 84px 150px 0;
    position: relative;
    width: 660px;
}
.main-container .center-container .registration-wrap .form-wrap .form {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.main-container .center-container .registration-wrap .form-wrap .form .left-form {
    float: left;
    width: 200px;
    color: #FFF;
    font-family: 'Kanit';
    font-size: 24px;
    line-height: 35px;
    text-align: right;
    text-transform: uppercase;
}
.main-container .center-container .registration-wrap .form-wrap .form .right-form {
    float: left;
    width: 430px;
    padding-left: 30px;
}
.main-container .center-container .registration-wrap .form-wrap .form .right-form .text-input {
    float: right;
    width: 410px;
    height: 30px;
    padding: 0 5px;
    font: normal 14px/30px "Helvetica";
}
.main-container .center-container .registration-wrap .form-wrap .form .right-form .selector {
    margin: 11px 10px 0 0;
}
.main-container .center-container .registration-wrap .form-wrap .form .right-form .sub {
    color: #FFF;
    font-family: "Helvetica";
    line-height: 12px;
    font-size: 12px;
}
.main-container .center-container .registration-wrap .form-wrap .form .right-form .select-form {
    background: #fff none repeat scroll 0 0;
    float: right;
    height: 35px;
    padding: 0;
    width: 426px;
}
.main-container .center-container .registration-wrap .form-wrap .register-btn {
    text-decoration: none;
    color: #000;
    background: #d3e81c;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 45px 7px 45px;
    margin: 2px 0 0 225px;
    display: inline-block;
}
.main-container .center-container .registration-wrap .form-wrap .register-btn:hover {
    background: #FFF;
}
.main-container .center-container .bodybuilding-pro {
    width: 1120px;
    height: 686px;
    display: inline-block;
}
.main-container .center-container .bodybuilding-pro h2 {
    color: #fff;
    display: table;
    font-family: "Black Ops One";
    font-size: 64px;
    padding: 40px 0 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.main-container .center-container .bodybuilding-pro .rule {
    color: #FFF;
    width: 460px;
    line-height: 28px;
    padding: 7px 40px 0 620px;
    font-family: "Helvetica";
    font-weight: normal;
}
.main-container .center-container .bodybuilding-pro .rule a, .main-container .center-container .bodybuilding-open .rule a, .main-container .center-container .bikini .rule a, .main-container .center-container .men-physique .rule a {
    color: #dcf31c;
    font-family: "Helvetica";
    margin-top: 50px;
    display: inline-block;
}
.main-container .center-container .bodybuilding-open {
    width: 1120px;
    height: 686px;
    display: inline-block;
}
.main-container .center-container .bodybuilding-open h2 {
    color: #fff;
    display: table;
    font-family: "Black Ops One";
    font-size: 64px;
    padding: 40px 0 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.main-container .center-container .bodybuilding-open .rule {
    color: #FFF;
    width: 460px;
    line-height: 28px;
    padding: 7px 40px 0 620px;
    font-family: "Helvetica";
    font-weight: normal;
}
.main-container .center-container .bikini {
    width: 1120px;
    height: 686px;
    display: inline-block;
}
.main-container .center-container .bikini h2 {
    color: #fff;
    display: table;
    font-family: "Black Ops One";
    font-size: 64px;
    padding: 40px 0 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.main-container .center-container .bikini .rule {
    color: #FFF;
    width: 460px;
    line-height: 28px;
    padding: 7px 40px 0 620px;
    font-family: "Helvetica";
    font-weight: normal;
}
.main-container .center-container .men-physique {
    width: 1120px;
    height: 686px;
    display: inline-block;
}
.main-container .center-container .men-physique h2 {
    color: #fff;
    display: table;
    font-family: "Black Ops One";
    font-size: 64px;
    padding: 40px 0 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.main-container .center-container .men-physique .rule {
    color: #FFF;
    width: 460px;
    line-height: 28px;
    padding: 7px 40px 0 620px;
    font-family: "Helvetica";
    font-weight: normal;
}









